<p>
  {{ truth }}
</p>
<h2>{{character1.name | uppercase}} Details</h2>
<div><span>id: </span>{{character1.id}}</div>
<div><span>name: </span>{{character1.name}}</div>
<div *ngIf="selectedChar">
  <label> name:
    <input [(ngModel)]="selectedChar.name" placeholder="name" >
  </label>
</div>
<ul class="chars">
  <li *ngFor="let char of chars" [class.selected]="char===selectedChar" (click)="onSelect(char)">
    <span class="badge">{{char.id}}</span>{{char.name}}
  </li>
</ul>
<app-char-detail [char]="selectedChar"></app-char-detail>